:global(.shared-vars) {
  --size: 80%;
  --blend-mode: hard-light;
}

.gradients-container {
  background: linear-gradient(
    40deg,
    hsl(var(--royal-purple)),
    hsl(var(--amethyst))
  );
  height: 100%;
  width: 100%;
  filter: blur(40px);
  overflow: hidden;
  position: relative;
}

@keyframes moveComplex {
  0% {
    transform: translate(-20%, -20%) scale(0.8) rotate(0deg);
    opacity: 0.3;
  }
  25% {
    transform: translate(30%, -50%) scale(1) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    transform: translate(50%, 50%) scale(1.2) rotate(90deg);
    opacity: 1;
  }
  75% {
    transform: translate(-50%, 30%) scale(1) rotate(135deg);
    opacity: 0.7;
  }
  100% {
    transform: translate(-20%, -20%) scale(0.8) rotate(360deg);
    opacity: 0.3;
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg) scale(1) translate(-10%, -10%);
    opacity: 0.4;
  }
  50% {
    transform: rotate(180deg) scale(1.1) translate(50%, 50%);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1) translate(-10%, -10%);
    opacity: 0.4;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.gradient-item {
  position: absolute;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  width: var(--size);
  height: var(--size);
  clip-path: polygon(50% 0%, 90% 25%, 100% 70%, 60% 100%, 10% 80%, 0% 30%);
  mix-blend-mode: var(--blend-mode);
}

.first {
  background: linear-gradient(
    135deg,
    hsla(var(--blue-green), 1),
    hsla(var(--blue-green), 0.5)
  );
  animation: moveComplex 35s ease-in-out infinite;
}

.second {
  background: linear-gradient(
    135deg,
    hsla(var(--amethyst), 1),
    hsla(var(--amethyst), 0.5)
  );
  animation: moveInCircle 25s linear reverse infinite;
}

.third {
  background: linear-gradient(
    135deg,
    hsla(var(--royal-purple), 1),
    hsla(var(--royal-purple), 0.5)
  );
  animation: pulse 45s ease infinite;
}

.fourth {
  background: linear-gradient(
    135deg,
    hsla(var(--electric-blue), 1),
    hsla(var(--electric-blue), 0.5)
  );
  animation: moveInCircle 30s linear infinite;
}

.fifth {
  background: linear-gradient(
    135deg,
    hsla(var(--marian-blue), 1),
    hsla(var(--marian-blue), 0.5)
  );
  animation: moveComplex 40s ease infinite;
}
