.button {
  padding: 24px 48px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;

  @apply font-monts font-semibold tracking-wider;

  .icon {
    display: flex;
    margin-left: 0.8rem;
    text-align: center;
    justify-content: center;
    align-self: center;
  }
}

.primary {
  color: hsl(var(--light) / 1);
  background-color: hsl(var(--dark) / 0.9);
  border: 2px solid hsl(var(--dark) / 1);
}

.secondary {
  color: hsl(var(--light) / 1);
  background-color: hsl(var(--light) / 0);
  border: 2px solid hsl(var(--light) / 1);
}

.tertiary {
  color: hsl(var(--dark) / 1);
  background-color: hsl(var(--light) / 0.9);
  border: 2px solid hsl(var(--light) / 1);
}

.button:hover {
  transform: translateY(-10px);

  &.primary {
    box-shadow: 0 10px 10px hsl(var(--dark) / 0.75);
  }
  &.secondary, &.tertiary {
    box-shadow: 0 10px 10px hsl(var(--light) / 0.25);
  }
  &.tertiary {
    background-color: hsl(var(--light) / 1);
  }
}

.button:active {
  scale: 0.95;
}

.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.small {
  width: 112px;
  height: 32px;
  font-size: 0.8rem;
}

.medium {
  width: 148px;
  height: 50px;
  font-size: 1rem;
}

.large {
  width: 184px;
  height: 64px;
  font-size: 1.2rem;
}

.responsive {
  width: clamp(120px, 10vw + 64px, 184px);
  height: clamp(40px, 5vw + 32px, 64px);
  font-size: clamp(0.3rem, 1.1rem, 1.2rem);
}
