.button {
  position: relative;
  padding: 24px 48px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;

  @apply font-monts font-semibold tracking-wider;
  font-family: var(--font-montserrat);
  font-style: semibold;
  

  .icon {
    display: flex;
    margin-left: 0.8rem;
    text-align: center;
    justify-content: center;
    align-self: center;
  }
}

.primary {
  color: hsl(var(--light) / 1);
  background-color: hsl(var(--dark) / 0.9);
  border: 2px solid hsl(var(--dark) / 1);
}

.secondary {
  color: hsl(var(--light) / 1);
  background-color: hsl(var(--light) / 0);
  border: 2px solid hsl(var(--light) / 1);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
}

.tertiary {
  color: hsl(var(--dark) / 1);
  background-color: hsl(var(--light) / 0.9);
  border: 2px solid hsl(var(--light) / 1);
}

.button:hover {
  &.primary {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px hsl(var(--dark) / 0.25);
  }
  &.secondary {
    background-image: linear-gradient(
      to right,
      hsl(var(--royal-purple) / 1),
      hsl(var(--electric-blue) / 1),
      hsl(var(--marian-blue) / 1),
      hsl(var(--amethyst) / 1),
      hsl(var(--blue-green) / 1)
    );
    background-clip: text;
    /* color: hsl(var(--dark) / 1); */
    color: transparent;
    &::before {
      background-color: hsl(var(--light) / 1);
    }
  }
  &.secondary,
  &.tertiary {
    box-shadow: 0 10px 10px hsl(var(--light) / 0.25);
  }
  &.tertiary {
    background-color: hsl(var(--light) / 1);
  }
}

.button:active {
  scale: 0.95;
}

.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.small {
  width: 112px;
  height: 32px;
  font-size: 0.8rem;
}

.medium {
  width: 148px;
  height: 50px;
  font-size: 1rem;
}

.large {
  width: 184px;
  height: 64px;
  font-size: 1.2rem;
}

.responsive {
  width: clamp(120px, 10vw + 64px, 184px);
  height: clamp(40px, 5vw + 32px, 64px);
  font-size: clamp(0.3rem, 1.1rem, 1.2rem);
}
