@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light: 0deg 50% 99%;
    --dark: 267deg 85% 3%;
    --blue-green: 198deg 51% 53%;
    --amethyst: 278deg 48% 60%;
    --electric-blue: 182deg 80% 64%;
    --royal-purple: 261deg 41% 47%;
    --marian-blue: 235deg 40% 42%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --light: 0deg 50% 99%;
      --dark: 267deg 85% 3%;
      --blue-green: 198deg 51% 53%;
      --amethyst: 278deg 48% 60%;
      --electric-blue: 182deg 80% 64%;
      --royal-purple: 261deg 41% 47%;
      --marian-blue: 235deg 40% 42%;
    }

    html {
      color-scheme: dark;
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  scroll-behavior: smooth;
  user-select: none;
}

html,
body {
  max-width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  @apply font-inter;
}

body {
  color: hsl(var(--light) / 1);
  accent-color: hsl(var(--royal-purple) / 1);
  background-color: hsl(var(--dark) / 0.25);

  & a {
    color: inherit;
    text-decoration: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .clip-hex {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}

@layer components {
  .glass-morph {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    @apply backdrop-blur-[10px];
  }

  .gradient-border {
    border-image: linear-gradient(
        to right,
        hsl(var(--light) / 1),
        hsl(var(--royal-purple) / 1),
        hsl(var(--electric-blue) / 1),
        hsl(var(--marian-blue) / 1),
        hsl(var(--amethyst) / 1),
        hsl(var(--blue-green) / 1),
        hsl(var(--light) / 1)
      )
      1;
  }
}

@layer base {
  header {
    @apply hidden;
  }

  main {
    @apply flex justify-between items-center;
    @apply h-svh w-svw;

    section {
      @apply relative h-full;
      @apply flex justify-center items-center;
      @apply pointer-events-none mobile:overflow-y-hidden;
    }
  }

  footer {
    @apply fixed bottom-[5%] right-[10%];
    @apply mobile:left-[2.5%] mobile:right-[unset];
  }
}
